.navbar{
    background-color: #620E0E;
    }

.text{
    color: #EFD17A;
}

.icons{
color: #EFD17A;
}

.border-linea{
    color: #EFD17A;
}

.img{
    height: 80px;
    width: 80px;
}
.contact-form{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #EFD17A;
}